<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="wtjRrQG8RaxoZHReFoExXH8qsuwHlCvKvuiyRIPJeg0" />
  <meta name="naver-site-verification" content="04f8832d65070db58e8783c4fbc62c938d32dee6" />
  <meta name="description" content="손쉽게 예상 신체등급을 확인할수있는 웹사이트입니다. BMI 및 본인이 가지고있는 질환을 선택하면 해당되는 군 신체등급을 제공해주는 기능을 가지고 있습니다. 입대을 앞두고 있거나 현부심을 생각하고 있는 장병들에게 유용하게 사용될 수 있습니다.">
	<title>예상 군대 신체등급 계산기</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/result.css">
  <link rel="icon" href="/favicon/favicon.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/fea1f5e745.js" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-209684443-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-209684443-1');
</script>

</head>

<body>
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
        <%- body %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    
</body>

</html>
